:root {
  --ff-accent: "Mulish", sans-serif;
  --ff-normal: "Roboto Mono", monospace;
}

/* General */
/* body {
  overflow-x: hidden;
  overflow-y: hidden;
} */

section {
  margin: 5vw 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: var(--ff-normal);
}

h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

.text-accent {
  font-weight: 800;
  font-family: var(--ff-header);
}

p, li{
  font-size: 18px;
  font-family: var(--ff-normal);
}

button {
  font-size: 1.5rem;
  font-family: var(--ff-normal);
  cursor: pointer;
}

/* Floating QR */
.floating-fixed-item {
  bottom: 1vw;
  left: 1vw;
  position: fixed;
  width: 10vw;
  height: 15vw;
  text-align: center;
  z-index: 999;
}

.floating-fixed-item img {
  width: 10vw;
  height: 10vw;
  border-radius: 1vw;
}

.floating-fixed-item p {
  margin: 0;
  padding: 0.5vw 0;
  border-radius: 1vw;
  border-radius: 1vw;
  border-style: solid;
  border-color: black;
  border-width: 0.1vw;
  background-color: white;
}

/* Menu */
.menu {
  z-index: 999;
  position: fixed;
  bottom: 1vw;
  width: 100vw;
  height: 5vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu .menu-inner {
  background-color: #000000b3;
  opacity: 0.8;
  height: 80%;
  width: 50%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.menu-inner .menu-item a {
  color: white;
  font-size: 3vw;
  font-family: var(--ff-normal);
  text-decoration: none;
}

.menu-inner .menu-item a:hover {
  opacity: 0.8;
}

/* Intro */
#intro-section {
  text-align: center;
}

.scroll-down {
  height: 50vh;
  text-align: center;
}

#point-down {
  font-size: 3vw;
}

.go-down {
  font-size: 3vw;
  padding: 5% 0;
}

/* About Section */
#about-section {
  display: flex;
  height: 100vh;
}

#about-reveal {
  position: absolute;
  right: -200px;
  color: white;
  margin-top: 200px;
}

.about-intro {
  padding: 10vw;
}

/* Card*/
.cardCont {
  width: 25vw;
  height: 30vw;
  cursor: pointer;
  left: 25vw;
  position: absolute;
}
.cardFront,
.cardBack {
  position: absolute;
  width: 25vw;
  height: 30vw;
  border-radius: 1vw;
  border-radius: 1vw;
  border-style: solid;
  background: url("/images/misaki-img.jpg");
  background-size: 30vw;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.cardBack {
  background: url("/images/mashed-potatoes-img.jpeg");
  background-repeat: no-repeat;
  background-size: 25vw;
}

.playcardFront {
  background: url("/images/mashed-potatoes-img.jpeg");
  background-repeat: no-repeat;
  background-size: 25vw;
}
.playcardBack {
  background: url("/images/misaki-img.jpg");
  background-repeat: no-repeat;
  background-size: 25vw;
}

/* About Horizontal Scroll */
.about-scroll {
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.horizontal-scroll-item {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Extracurriculars Section*/
#extracurriculars-section {
  margin-top: 250vw;
  height: 130vh;
}

.extracurriculars-pop-up {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;
}

.extracurriculars-item {
  display: flex;
  margin: 0 0 0 110vw;
  text-align: center;
  border-radius: 1vw;
  border-style: solid;
  width: 20vw;
  height: 20vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Projects Section */

#projects-section .section-title {
  text-align: center;
}

.projects-container {
  display: grid;
  justify-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  row-gap: 5vw;
  column-gap: 2vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects-box {
  padding: 2vw;
  border-radius: 1vw;
  border-style: solid;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  row-gap: 1vw;
}

.projects-box h3, .projects-box p {
  margin: 0;
}

.projects-box img {
  max-height: 30%;
  max-width: 50%;
  border-radius: 5%;
  border-style: solid;
}

/* Skills Section */
#skills-section {
  margin-top: 80vw;
  height: 50vh;
  text-align: center;
}

.skills-container {
  gap: 1vw;
  border-radius: 1vw;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  padding: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}

/* Experience Section */
#experience-section {
  text-align: center;
}

.experience-container {
  border-radius: 1vw;
  border-style: solid;
  padding: 2vw 5vw;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  margin-bottom: 2vw;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  align-items: baseline;
}

.experience-container img {
  max-width: 7.5vw;
  max-height: 7.5vw;
  border-radius: 1vw;
}

.experience-container li {
  padding-bottom: 2vw;
  text-align: justify;
  line-height: 1.5;
}

.experience-container a {
  color: rgb(255, 255, 255);
  background-color: black;
  text-decoration: none;
  font-family: var(--ff-normal);
  cursor: pointer;
}

.experience-container a:hover {
  opacity: 0.75;
}

/* Education Section */
#education-section {
  text-align: center;
  padding-bottom: 25vh;
}

.education-container {
  border-radius: 1vw;
  border-style: solid;
  padding: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vw;
  display: grid;
}

.education-container h2 {
  margin-bottom: 0;
}

/* End Section */
#end-section {
  text-align: center;
  height: 10vh !important;
  padding-bottom: 45vh;
}

/* Responsive Section */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 769px) and (max-width: 1024px) {
  
  section {
    padding: 3vw 5vw;
  }

  /* Intro section */

  #intro-section {
    height: 50vh;
  }

  .scroll-down {
    width: auto;
  }

  /* Bottom navigation bar */

  .menu {
    height: 5vh;
  }

  .menu .menu-inner {
    height: 100%;
    width: 75%;
  }

  .menu .menu-item a {
    font-size: 3.5vh;
  }

  /* Projects section */
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }

  /* Skills section */
  #skills-section {
    margin-top: 105vh;
    height: 35vh;
  }

  /* Experience section */
  #experience-section {
    height: 60vh;
  }

  .experience-container {
    align-items: center;
  }

  /* Education section */
  #education-section {
    height: 60vh;
    padding-bottom: 0;
  }

  /* End section */
  #end-section {
    padding-bottom: 35vh;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* Intro section */

  #intro-section {
    height: 100vh;
  }

  /* Menu section */
  .menu {
    height: 10vh;
  }

  .menu .menu-inner {
    height: 100%;
    width: 75%;
  }

  .menu .menu-item a {
    font-size: 7.5vh;
  }

  /* Skills section */

  #skills-section {
    margin-top: 485vh;
    height: 35vh;
  }
  
  /* Experience section */
  #experience-section {
    margin-top: 50vh;
  }

  /* Education section */
  #education-section {
    margin-top: 85vh;
  }

  /* End section */
  #end-section {
    margin-top: 100vh;
    padding-bottom: 70vh;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 768px) {
  
  section {
    padding: 3vw 8vw;
  }

  /* Intro section */

  #intro-section {
    height: 50vh;
  }

  .scroll-down {
    width: auto;
  }

  /* Bottom navigation bar */

  .menu {
    height: 5vh;
  }

  .menu .menu-inner {
    height: 100%;
    width: 75%;
  }

  .menu .menu-item a {
    font-size: 3.5vh;
  }

  /* Projects section */
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }

  /* Skills section */
  #skills-section {
    margin-top: 140vh;
    height: 35vh;
  }

  /* Experience section */
  #experience-section {
    height: 60vh;
  }

  .experience-container {
    align-items: center;
  }

  /* Education section */
  #education-section {
    height: 60vh;
    padding-bottom: 0;
  }

  /* End section */
  #end-section {
    padding-bottom: 35vh;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Landscape)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  
  /* CSS */

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  section {
    padding: 7.5vw 10vw;
  }

  /* Intro section */

  #intro-section {
    padding-top: 2vh;
    height: 100vh;
  }

  #intro-section h1 {
    font-size: 40px;
  }

  #intro-section h2 {
    font-size: 22.5px;
  }

  form span {
    font-size: 7.5vw;
  }

  .scroll-down h1 {
    font-size: 7.5vw;
  }

  .scroll-down {
    width: auto;
  }

  #point-down {
    margin-top: 5vh;
    font-size: 15vw;
  }

  /* Bottom navigation bar */

  .menu {
    height: 10vh;
  }

  .menu .menu-inner {
    height: 100%;
    width: 75%;
  }

  .menu .menu-item a {
    font-size: 3.5vh;
  }

  /* Projects section */
  .projects-container {
    grid-template-columns: 1fr;
    row-gap: 5vh;
  }

  .projects-box {
    row-gap: 2vh;
  }

  /* Skills section */
  #skills-section {
    margin-top: clamp(3350px, 3550px, 3750px);
    height: 70vh;
  }

  .skills-container button {
    font-size: 20px;
  }

  /* Experience section */
  #experience-section {
    height: clamp(1000px, 1250px, 1500px);
  }

  .experience-container {
    align-items: center;
    grid-template-columns: 1fr;
  }

  .experience-container img {
    max-width: 20vw;
    max-height: 20vw;
  }

  .experience-container ul {
    padding: 0 0 0 20px;
  }

  .experience-container li {
    text-align: left;
  }

  /* Education section */
  #education-section {
    height: 105vh;
    padding-bottom: 0;
  }

  .education-container {
    margin-bottom: 3vh;
  }

  .education-container h2 {
    font-size: 25px;
  }

  /* End section */
  #end-section {
    padding-bottom: 75vh;
  }
  
}